<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJiHJSireqZeQY5zAm15RN5-FPdmo3vFE</string>
	<key>GCM_SENDER_ID</key>
	<string>826825554218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>m.chuyende</string>
	<key>PROJECT_ID</key>
	<string>chuyende-81101</string>
	<key>STORAGE_BUCKET</key>
	<string>chuyende-81101.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826825554218:ios:d4bd3239d52a4338654653</string>
</dict>
</plist>